<html>
    <head>
        <meta content="charset=UTF-8" name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
        <title>Welcome Page</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div id="img">
            <img id="background-img" src="/media/img/welcome-background.png">
        </div>
        <div class="top-bar-menu-div">
            <!-- for future services -->
        </div>
        <div id="welcome-header-div">
            <p id="greeting">Welcome <mark>User</mark>! Let's get you set up.</p>
        </div>
        <div id="main-content-div">
            <a href="/step1" id="get-started">Build Schedule</a>
            <a href="" id="learn-more">What do we do?</a>
        </div>
    </body>
    <script type="text/javascript" src="/js/index.js"></script>
</html>