<html>
    <head>
        <meta content="charset=UTF-8" name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
        <title>Step 1</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="stylesheet" type="text/css" href="/css/step1.css">

    </head>
    <body>
        <div class="top-bar-menu-div" id="top-bar-div-step1">
            <h4>Step 1. School Selection</h4>
        </div>
        
        <div class="background-image-div">
            <img>
        </div>
        <form id="step-1">
            <label name="school" for="school-selector">Select Your School</label><br>
            <select name="school-selector" class="school-selector"> 
                <option>University of South Florida (USF)</option>
            </select>
        </form>
        <div class="go">
            <a href="/step2" id="go">Next Step</a>
        </div>
    </body>
</html>